name: Build Pre-build Packages for Alpine

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

concurrency:
  group: release
  cancel-in-progress: false

jobs:
  build:
    environment: release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'
    - name: Prepare Image
      run: docker build -f Dockerfile.build -t faiss-build-alpine .
    - name: Build & test
      run: docker run --rm faiss-build-alpine
    - name: Build Release
      run: docker run --rm -v $(pwd)/prebuilds:/app/prebuilds faiss-build-alpine run prebuild-package -- --all
    - name: Upload to Release
      uses: softprops/action-gh-release@v1
      with:
        draft: true
        fail_on_unmatched_files: true
        files: prebuilds/*.tar.gz
        tag_name: 'v0.2.2-alpha.0'
